.landing {
  width: 100vw;
  height: 100vh;
  background: url(/images/banner-bg-min.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}
