.navbar {
  display: flex;
  position: fixed;
  top: 30px;
  width: 100%;
  justify-content: center;
  z-index: 100;
  text-transform: uppercase;
  @include media(900px) {
    top: 0;
  }
  .container {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 20px 20px;
    @include border-radius(50px);
    @include media(900px) {
      @include border-radius(0);
      height: 30px;
    }
    background-color: white;
    .logo {
      margin-right: 100px;
      @include media(900px) {
        position: absolute;
        left: 0;
      }
    }
    ul {
      display: flex;
      align-items: center;
      li {
        text-transform: capitalize;
        margin-right: 40px;
        font-size: 13px;
        @include media(1500px) {
          margin-right: 10px;
        }
        transition: $main-timing;
        a {
          background: transparent !important;
          margin: 0 !important;
        }
        .active {
          color: $alt-color;
        }
        :hover {
          color: $alt-color;
        }
      }
      @include media(900px) {
        display: none;
      }
    }
    .menu {
      display: none;
      width: 100vw;
      height: 100%;
      padding: 0 20px;
      @include media(900px) {
        display: block;
      }
      .icons {
        width: 30px;
        height: 14px;
        position: absolute;
        top: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 40px;
        :first-child {
          top: 0;
        }
        :nth-child(2) {
          top: 7px;
        }
        :last-child {
          top: 14px;
        }
        :not(:nth-child(2)) {
          width: 50%;
        }
        span {
          position: absolute;
          width: 75%;
          height: 2px;
          background-color: black;
          transition: $main-timing;
        }
      }
      ul {
        display: block;
        overflow: hidden;
        height: 0;
      }
    }
    .active {
      .icons {
        :first-child {
          width: 100%;
          transform: rotateZ(-45deg);
          top: 7px;
          background-color: red;
        }
        :nth-child(2) {
          transform: translate(-90%, 0);
          opacity: 0;
        }
        :last-child {
          width: 100%;
          transform: rotateZ(45deg);
          top: 7px;
          background-color: red;
        }
      }
      ul {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        text-align: center;
        transition: $main-timing;
        height: 427px;
        li {
          text-transform: capitalize;

          background-color: white;
          border-top: 1px solid #eee;
          margin: 0;
          line-height: 20px;
          padding: 20px 0;
        }
      }
    }
  }
}
